body{
    font-family: Verdana,sans-serif;
}
.container{
    margin:10px 0 10px 50px;
}
.label1{
    margin-bottom:20px;
}
.label2{
    margin-bottom:20px;
}
.label3{
    margin-bottom:20px;
}
.text button{
    margin-top:20px
}
.kokoro ul{
    list-style-image: url(../img/icon.png);
  
}
.menu ul{
    display: flex;
    list-style: none;
    position:fixed;
    top:30px;
    right:100px;
}
.kokoro{
    text-decoration: underline;
}
.houkoku{
    text-decoration: underline;
}
header{
    height:200px;
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: center;
}
.menu{
    background-color: pink;
}
.menu ul li{
    margin-right:20px;
}